@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.slider {
  background: white;
  height: 90px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 150px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slideTrack {
  animation: scroll 30s linear infinite;
  display: flex;
  width: fit-content
}

.slide {
  height: 100px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}